@media (max-width: 992px) {
  #root {
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
  }

  .controls-wrapper {
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    height: auto;
    gap: 20px;

    .value-unit {
      flex-basis: 100%;
      justify-content: center;
      margin-bottom: 0;

      label {
        margin-right: 10px;
      }
    }

    .control-box {
      flex-basis: 40%;
      padding: 10px;
      min-width: 302px;
      flex-basis: 48%;

      .select-position {
        justify-content: space-evenly;
        margin-bottom: 10px;
        label {
          width: auto;
        }

        select {
          width: auto;
        }
      }
    }
  }

  .visual-wrapper {
    width: 100%;

    .box-container {
      .box {
        .circle {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .controls-wrapper {
    h3 {
      font-size: 20px;
    }

    .control-box {
      min-width: 180px;
      .controls {
        .select-position {
          label {
            font-size: 16px;
            font-weight: 400;
          }

          select {
            font-size: 16px;
            font-weight: 400;
          }
        }

        .absolute-position {
          label {
            font-size: 16px;
            font-weight: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .controls-wrapper {
    gap: 10px;
    h3 {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .control-box {
      min-width: 150px;
      padding: 5px;
      .controls {
        .select-position {
          label {
            font-size: 12px;
            font-weight: 300;
          }

          select {
            font-size: 12px;
            font-weight: 300;
          }
        }

        .absolute-position {
          label {
            font-size: 12px;
            font-weight: 12px;
            width: 35%;
          }

          input[type="number"] {
            width: 45%;
            height: 20px;
            padding: 0 5px;
          }
        }
      }
    }
  }

  .visual-wrapper {
    .box-container {
      .box {
        .circle {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
